#overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

#overlay.active {
    display: flex;
}

#overlay-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $c_primary;
    z-index: 1000;
    padding: 40px;
    border-radius: 10px;
    color: #FFF;
    font-size: 24px;
    font-family: 'PublicSans', sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    gap: 20px;
    width: 280px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

#overlay-loading-progress {
    background: $c_secondary;
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

#overlay-loading-fill {
    background: #FFF;
    color: #000;
    height: 100%;
}