// Colors
$c_primary: rgb(0, 120, 215);
$c_secondary: rgb(6, 86, 151);
$c_white: rgb(245, 245, 245);

// Partials
@import "partials/_normalize";
@import "partials/_typography";
@import "partials/_base";
@import "partials/_buttons";
@import "partials/_sidebar";
@import "partials/_map";
@import "partials/_list";
@import "partials/_form";
@import "partials/_overlay";
@import "partials/_icons";